# Auto detect text files and perform LF normalization
* text eol=lf
*.png -text

/.editorconfig export-ignore
/.eslintrc.json
/.gitattributes export-ignore
/.gitignore export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/rollup.config.js export-ignore
/src/js_src export-ignore
