<!DOCTYPE html>
<html>
<head>
	<title>PHPDebugConsole</title>
	<script src="{{jquery}}"></script>
	<script src="{{bootstrapJs}}" crossorigin="anonymous"></script>
	<link href="{{bootstrapCss}}" crossorigin="anonymous" rel="stylesheet" />
	<link id="wampClientCss" rel="stylesheet" href="?action=css" />
	<link rel="icon" type="image/png" sizes="32x32" href="?action=img&amp;src=favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="?action=img&amp;src=favicon-16x16.png" />
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<span class="navbar-brand">PHPDebugConsole</span>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<form class="navbar-form navbar-left">
					<button accesskey="c" type="button" class="btn btn-link clear" title="Clear the console [c]"><i class="glyphicon glyphicon-ban-circle"></i></button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a accesskey="s" href="#modal-settings" class="settings-toggle" data-toggle="modal" role="button" title="settings [s]"><i class="glyphicon glyphicon-cog"></i></a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="body" class="container-fluid">

        <div id="alert" class="alert alert-info alert-dismissible connecting">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Connecting to debug server&hellip;
        </div>

	</div>

	<form class="modal fade form-horizontal" id="modal-settings" tabindex="-1" role="dialog" aria-labelledby="modal-settings-title">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal-settings-title">Settings</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label for="wsUrl" class="col-xs-3 control-label">Websocket Url</label>
						<div class="col-xs-9">
							<input type="url" name="wsUrl" id="wsUrl" class="form-control" placeholder="ws://" />
						</div>
					</div>
					<div class="form-group">
						<label for="realm" class="col-xs-3 control-label">Realm</label>
						<div class="col-xs-9">
							<input type="text" name="realm" id="realm" class="form-control" />
						</div>
					</div>

					<hr />

					<div class="form-group">
						<label for="font-size" class="col-xs-3 control-label">Font Size</label>
						<div class="col-xs-3">
							<input type="text" name="realm" id="font-size" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="checkbox col-xs-offset-3 col-xs-9">
							<label>
								<input type="checkbox" id="link-files" /> Create file links
							</label>
							<span class="help-block">
								Filepaths become clickable.  Open directly in your IDE / text editor.
								<span class="text-muted">(PhpStorm, Sublime / Atom / TextMate / etc)</span>
							</span>
						</div>
					</div>

					<div class="form-group">
						<label for="link-files-template" class="col-xs-3 control-label">Link Template</label>
						<div class="col-xs-9">
							<input type="text" name="link-files-template" id="link-files-template" class="form-control" />
							<span class="help-block">
								<kbd>%file</kbd> &amp; <kbd>%line</kbd>
								<br />examples:
								<A href="https://atom.io/packages/open" target="_blank">Atom</A>,
								<a href="https://www.google.com/search?q=phpstorm+url+handler" target="_blank">PhpStorm</a>,
								<a href="https://www.google.com/search?q=sublime+url+protocol" target="_blank">Sublime</a>,
								<a href="https://macromates.com/textmate/manual/opening-files#url-scheme" target="_blank">TextMate</a>
							</span>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Apply</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</form><!-- /.modal -->

    <script src="?action=script"></script>

</body>
</html>