body { padding-top: 50px; font-size: 14px; }

kbd { background-color: #ccc; color: #000; }

.alert { padding: 10px; margin-bottom: 10px; border: 1px solid transparent; }
.alert.alert-dismissible { padding-right: 35px; }
.alert.alert-dismissible .close { padding-top: 8px; }

.card .card-header { background-color: #f7f7f7; }
.card.bg-danger, .card.bg-danger > .card-header { background-color: #f2dede !important; color: #a94442; }
.card.bg-warning, .card.bg-warning > .card-header { background-color: #fcf8e3 !important; color: #8a6d3b; }
.card.expanded .card-header { border-bottom-width: 1px; }
.card.sticky > .card-header { position: sticky; top: 38px; z-index: 1; }
.card.sticky > .card-body > .debug-menu-bar { position: sticky; z-index: 1; top: 78px; }
.card .sidebar-trigger { position: absolute; width: 12px; height: 100%; }
.card .debug-sidebar { z-index: 1; width: 120px; border-right: #ddd solid 1px; font-size: 13px; transform: translateX(-120px); }
.card .debug-sidebar .sidebar-content { padding-right: 4px; }
.card .debug-sidebar .sidebar-toggle { display: block; position: absolute; left: 100%; width: 2em; height: 1.5em; padding-top: 2px; border-left: 0; border-right: #ddd solid 1px; border-bottom: #ddd solid 1px; border-bottom-right-radius: .5em; color: #333; }
.card .debug-sidebar .sidebar-toggle i.fa { margin-right: 0; }
.card .filter-active .debug-sidebar .sidebar-toggle { background-color: #CCC; }

.card-header { border-bottom-width: 0; cursor: pointer; }
.card-header[data-interface="cli"] { border-left: solid 2px rgba(0, 0, 0, 0.5); }
.card-header[data-interface="http ajax"] { border-left: solid 2px rgba(80, 80, 200, 0.5); }
.card-header * { font-size: inherit; }
.card-header > i { float: left; line-height: 1.5em; }
.card-header .btn-remove-session { margin-left: .75em; margin-top: -2px; }
.card-header .label { padding: .1em .6em .2em; }
.card-header .http-host { opacity: 0.6; }
.card-header .card-header-body { margin-left: 2em; }
.card-header .card-header-body .fa-spinner { margin-left: .75em; }
.card-header .card-title { display: inline; }
.card-header > .debug { margin-left: -1.25rem; margin-right: -1.25rem; }

.card-body > .tab-panes { position: relative; overflow: hidden; z-index: 0; }
.card-body > .tab-panes > .tab-pane { overflow: auto; min-height: 100px; }

.navbar { padding: 0 1rem; border-bottom-style: solid; border-bottom-width: 1px; }
.navbar .navbar-brand { padding: 0; }
.navbar.navbar-light { background-color: #f8f8f8; border-color: #e7e7e7; color: #777; }
.navbar.navbar-light .navbar-brand { color: #777; }
.navbar .btn, .navbar a { color: inherit; }

.debug { transform: none; }
.debug.debug-enhanced-ui .debug-menu-bar { border-top: 0; }
.debug.debug-enhanced-ui .debug-menu-bar nav { margin-left: 0; }
.debug .debug-sidebar + .tab-body { margin-left: 0; padding-left: 0; }
.debug .debug-sidebar.show + .tab-body { margin-left: 0; }

.debug-tabs { position: relative; }

#modal-settings .close { opacity: 0.2; }
#modal-settings .modal-body { padding-bottom: 0; }
#modal-settings .col-form-label { text-align: right; }
#modal-settings .label-default { background-color: rgba(119, 119, 119, 0.3); color: inherit; }
